<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ESPN CricInfo Website">
    <test name="Db_Assignment">
         <classes>
             <class name="circtng.CricInfoTNG"></class>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->